body {
    color: rgb(247 247 247);
    background-color: rgb(16 16 16);
    font-family: "Inter", sans-serif;
    /* margin-right: 300px; */
}

.flexbox-container{
    margin-left: 8%;
    margin-right: 8%;
}

.navbar {
    font-size: 30px;
    margin-bottom: 20px;
}

.aravimage{
    width: 250px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 20%; /* Create a circular shape */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.grid-image {
   display: grid;
   grid-template-columns: 1fr 1fr ;
}
.section1text {
   /* background-color: lightblue; */
}
.section1texthead {
    font-weight: 700;
}
.Hi {
    color: red;
    transition: color 0.3s ease; /* Smooth transition effect */
}
@keyframes colorCycle {
    0% {
        color: hsl(240, 80%, 50%);
    }
    25% {
        color: hsl(192, 80%, 50%);
    }
    50% {
        color: hsl(113, 80%, 50%)
    }
    65%{
        color: hsl(262, 80%, 50%)
    }
    75% {
        color:hsl(308deg 80.97% 50.35%);
    }
    100% {
        color: hsl(150, 80%, 50%);
    }
}

.Hi:hover {
    animation: colorCycle 5s infinite; /* Adjust the duration as needed */
}





.section1image {
    display: flex;
    justify-content: flex-end;
    /* background-color: pink; */
}

.section3 {
    border: 3px solid black;
}

.fa-brands.fa-github.fa-3x {
    color: #B197FC;
    transition: filter 1s ease, color 0.5s ease; /* Add transition for both filter and color change */

}

.fa-brands.fa-github.fa-3x:hover{
    filter: invert(100%);
    cursor: pointer;
}

.fa-brands.fa-linkedin.fa-3x {
    color: #63E6BE;
    transition: filter 1s ease, color 0.5s ease; /* Add transition for both filter and color change */
}

.fa-brands.fa-linkedin.fa-3x:hover {
    filter: invert(100%);
    cursor: pointer;
}



.section2 {
    /* border: 3px solid red; */
    display:flex;
    flex-direction: column;
}

.projectgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    /* border: solid red; */
}





.grid1 {
    
    background-color: rgb(247, 247, 247);
    border-radius: 2%;
    height: 180px;
    width: auto;
   

 /*
background-color: rgb(247, 247, 247);
border-bottom-color: rgb(229, 231, 235);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(229, 231, 235);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgb(229, 231, 235);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgb(229, 231, 235);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(247, 247, 247);
column-gap: 4px;
display: flex;
flex-direction: column;
font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-feature-settings: normal;
font-variation-settings: normal;
height: 140px;
line-height: 24px;
padding-bottom: 16px;
padding-left: 16px;
padding-right: 16px;
padding-top: 16px;
row-gap: 4px;
tab-size: 4;
text-size-adjust: 100%;
unicode-bidi: isolate;
*/

}

.grid12 {
    
    background-color: rgb(247, 247, 247);
    border-radius: 2%;
    height: 180px;
    width: auto;
    display: flex;
    flex-direction: column;

 /*
background-color: rgb(247, 247, 247);
border-bottom-color: rgb(229, 231, 235);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-style: solid;
border-bottom-width: 0px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(229, 231, 235);
border-left-style: solid;
border-left-width: 0px;
border-right-color: rgb(229, 231, 235);
border-right-style: solid;
border-right-width: 0px;
border-top-color: rgb(229, 231, 235);
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-top-style: solid;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(247, 247, 247);
column-gap: 4px;
display: flex;
flex-direction: column;
font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-feature-settings: normal;
font-variation-settings: normal;
height: 140px;
line-height: 24px;
padding-bottom: 16px;
padding-left: 16px;
padding-right: 16px;
padding-top: 16px;
row-gap: 4px;
tab-size: 4;
text-size-adjust: 100%;
unicode-bidi: isolate;
*/

}





.gridtextcolor {
    color: #101010;
    font-weight: 600;
    font-size: 22px;
    font-family: "Inter", sans-serif; /* Removed duplicate font-family property */
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.gridtextcolor2 {
    color: #101010;
    font-weight: 600;
    font-size: 22px;
    font-family: "Inter", sans-serif; /* Removed duplicate font-family property */
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
    margin-top: 19px;


}








/* .gridtextcolor:hover {
    animation: wave 1s ease-in-out infinite;
} */

@keyframes wave {
    0%, 100% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}


.InnerGridText {
    color: #101010;
    font-size: 15px;
    font-family: Inter;
    font-family: "Inter", sans-serif;
    padding-left: 20px;
  
}



.Study.Coding.Languages {
    margin-left: 15px;
    margin-top: 28px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns:  55px 48px 85px 65px 79px;
    column-gap: 5px;
}


.Coding.Languages {
    margin-left: 20px;
    margin-top: 45px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns:  60px 40px 85px;
    grid-column-gap: 5px;
}


.Coding.Languages.C {
    margin-left: 20px;
    margin-top: 45px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns:  45px;
    grid-column-gap: 5px;
}






.language1 {
    background-color: rgb(222, 165, 132);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.language1:hover {
    animation: wave 1s ease-in-out infinite;
}

.language2:hover {
    animation: wave 1s ease-in-out infinite;
}
.language3:hover {
    animation: wave 1s ease-in-out infinite;
}
.language4:hover {
    animation: wave 1s ease-in-out infinite;
}
.language5:hover {
    animation: wave 1s ease-in-out infinite;
}
.language6:hover {
    animation: wave 1s ease-in-out infinite;
}
.language7:hover {
    animation: wave 1s ease-in-out infinite;
}
.language8:hover {
    animation: wave 1s ease-in-out infinite;
}
.language9:hover {
    animation: wave 1s ease-in-out infinite;
}
@keyframes wave {
    0%, 100% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
}



.Python{
    color: rgb(222, 165, 132);
    filter: brightness(0.5);
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-top: 2px;
    padding-left: 2px;
  
}



.language2{
    background-color: rgb(56, 77, 84);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */

}
.Cplusplus{
    color: rgb(56, 77, 84);
    filter: brightness(0.5);
    
    display: block;
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-top: 2px;
}

.language3{
    background-color: rgb(241, 224, 90);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.JS{

    color: rgb(241, 224, 90);
    filter: brightness(0.5);
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-start: 0px;
    padding-top: 2px;
    padding-left: 1px;
}

.language4{
    background-color: rgb(49, 120, 198);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.HTML {
    color: rgb(49, 120, 198);
    display: block;
    filter: brightness(0.5);
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-top: 2px;
    padding-left: 4px;
}


.language5 {
    background-color: rgb(255, 62, 0);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.React{
    color: rgb(255, 62, 0);
    display: block;
    filter: brightness(0.5);
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-top: 2px;
    padding-left: 2px;
}


.language6 {
    background-color: hsl(113, 80%, 50%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.Node{
    color: hsl(113, 80%, 50%);
    display: block;
    filter: brightness(0.5);
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-top: 2px;
    padding-left: 2px;
}




.language7 {
    background-color: #B197FC;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.Express{
    color: #B197FC;
    display: block;
    filter: brightness(0.5);
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-top: 2px;
    padding-left: 0px;
}
.language8 {
    background-color: hsl(308deg 80.97% 50.35%);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.MongoDB{
    color: hsl(308deg 80.97% 50.35%);
    display: block;
    filter: brightness(0.5);
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-top: 2px;
    padding-left: 0px;
}

.language9 {
    background-color: #63E6BE;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    display: block;
    font-family: "Inter";
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 8px;
    padding-top: 4px;
    margin-left: 5px;
    transition: all 0.5s ease-in-out; /* Adjusted for a smoother transition */
    overflow: hidden; /* Keeps the layout tidy during animations */
}

.CSS{
    color: #63E6BE;
    display: block;
    filter: brightness(0.5);
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-top: 2px;
    /* display: flex;
    align-items: center; */

}

.Experience.Coding.Languages {
    margin-left: 15px;
    margin-top: 28px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns:  10px 10px 10px 10px 10px 10px 10px 10px;
    grid-column-gap: 10px;
 
}

.Experience.Coding.Languages.Longer{
    margin-left: 15px;
    margin-top: 28px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns:  10px 10px 10px 10px 10px 10px 10px 10px;
    grid-column-gap: 10px;
}

.Coding.Languages.Longer {
    margin-left: 20px;
    margin-top: 5%;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns:  60px 40px 85px;
    grid-column-gap: 5px;

}


.Experience.Coding.Languages2 {
    margin-left: 15px;
    margin-top: 28px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns:  10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px 10px;
    grid-column-gap: 10px;
 
}







.grid2{
    /* border: solid red; */
}

.grid3{
    /* border: solid red; */
}

/*
@media (min-width: 768px) { 
    .grid-image {
        flex-direction: row;
    }

    .section1text,
    .section1image {
        flex: 1;
        margin-right: 20px;
        margin-left: 20px;
    }

    .section1image {
        align-self: center;
    }
}

*/